<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Cadastro novo Medicamento </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- conteudo pagina inical-->
  <ion-content class="ion-padding"> 
    <ion-refresher slot="fixed" (ionRefresh)="atualizarConteudo($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
      </ion-refresher-content>
    </ion-refresher>
    <form (ngSubmit)="submitForm()" [formGroup]="meuForm">
      <ion-input type="text" formControlName="nome" placeholder="Por exemplo Omega-3">Nome do Medicamento</ion-input>
      <div class="yellow-line"></div> <!-- Linha amarela abaixo do primeiro input -->
    
      
      <ion-input type="text" formControlName="Detalhe" placeholder="Diga como voce deve toma-lo">Observação</ion-input>
    
      <div class="yellow-line"></div> <!-- Linha amarela abaixo do terceiro input -->
      <ion-input>Que Horas Você deve tomar..??
        <ion-datetime id="datetime" presentation="time" formControlName="data" [(ngModel)]="alarmTime"></ion-datetime>
      </ion-input>
    
      <ion-button (click)="fileInput.click()" class="custom-file-input-button">
        Imagem do Medicamento <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      
    
      <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
    
      <ion-button type="submit">Salvar Lembrete <ion-icon name="download-outline"></ion-icon> </ion-button>
      <div class="yellow-line"></div> <!-- Linha amarela abaixo do botão de enviar -->
    </form>
    

  </ion-content>
</div>
