<ion-header>
  <ion-toolbar>
    <ion-title>
      Bem-vindo ao App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <img src="assets/logo2.png" alt="">
    <h1>Vou te ajudar a gerenciar melhor seus medicamentos..!!</h1>
  </div>

  <ion-button (click)="navCad()" expand="block">Novo Lembrete <ion-icon name="add-circle-outline"></ion-icon> </ion-button> 
  <ion-button (click)="NavHom()" expand="block">Meus Lembretes  <ion-icon name="eye-outline"></ion-icon> </ion-button>


</ion-content>
